<main *ngIf="userDetails" class="container-fluid">
  <div class="row">
      <div class="col-md-3 col-xl-2 bd-side">
        <div class="container ml-2">
          <div class="row mt-5">
            <p>{{ userDetails.name }} {{ userDetails.lastName }}</p>
          </div>
          <div class="row">
            <p>Age: {{ userDetails.age }}</p>
          </div>
          <div class="row">
            <p>Date: {{ userDetails.date }}</p>
          </div>
          <div class="row">
            <p>Groups:</p>
          </div>
          <div class="row">
            <ul>
              <li *ngFor="let group of userDetails.groups">
                {{ group.groupName }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <section class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content mx-auto">
        <div class="card mt-5">
          <div class="card-header bk-color font-weight-bold text-secondary">
            Groups
          </div>
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Group Name</th>
                  <th scope="col">Role</th>
                  <th scope="col">Permissions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of userDetails.groups">
                  <th scope="row">{{ group.code }}</th>
                  <td>{{ group.groupName }}</td>
                  <td>{{ group.role}}</td>
                  <td>{{ group.permissions }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button [routerLink]="['/']" class="btn btn-lg bk-color mx-auto">Back to List</button>
          </div>
        </div>
      </section>
    </div>
  </main>